@model List<StudenteViewModel>

<h1>Ecco la lista degli studenti</h1>
<a class="btn btn-primary" asp-controller="Studenti" asp-action="Create" type="button">Inserisci nuovo studente</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            @*<th scope="col">Descrizione</th>*@
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                @*<td>@item.Descrizione</td>*@
            <td>
                <a asp-controller="Studenti" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Visualizza dettagli studente</a>
                <a asp-controller="Studenti" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Modifica Studenti</a>
                <a asp-controller="Studenti" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Elimina Studenti</a>
            </td>
            </tr>
        }
    </tbody>
</table>

