@model List<CorsoViewModel>

<h1>Ecco la lista dei Corsi</h1>
@if (User.IsInRole("Administrator"))
{
    <a class="btn btn-primary" asp-controller="Corsi" asp-action="Create" type="button">Inserisci Nuovo Corso</a>
}

<a class="btn btn-primary" asp-controller="Corsi" asp-action="Create" type="button">Inserisci nuovo corso</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Codice</th>
            <th scope="col">Nome</th>
            @*<th scope="col">Descrizione</th>*@
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CorsoCodice</td>
                <td>@item.Nome</td>
                @*<td>@item.Descrizione</td>*@
            <td>
                <a asp-controller="Corsi" asp-action="Details" asp-route-id="@item.CorsoCodice" class="btn btn-primary">Visualizza Dettagli</a>
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-controller="Corsi" asp-action="Edit" asp-route-id="@item.CorsoCodice" class="btn btn-primary">Modifica</a>
                    <a asp-controller="Corsi" asp-action="Delete" asp-route-id="@item.CorsoCodice" class="btn btn-danger">Elimina</a>
                }
            </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Totale</th>
            <th>@Model.Count</th> <!--Il Model è la mia lista-->
            @*<th></th>*@
            <th></th>
        </tr>
    </tfoot>
</table>